networkx
shapely
folium
geopandas 
geojson-rewind
plotly==4.5.1
plotly-express
joblib==1.0.1
jsonschema==3.2.0
matplotlib
matplotlib-inline==0.1.3
numpy==1.19.5
pandas==1.3.2
Pillow==8.3.2
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
requests-oauthlib==1.3.0
six==1.15.0
streamlit==1.9.0
toml==0.10.2
tornado==6.1
traitlets==5.1.0
typing-extensions==3.7.4.3
urllib3==1.26.6
validators==0.18.2
Werkzeug==2.0.1
recipe-scrapers==14.3.0
requests==2.26.0
pygsearch==0.5.1
streamlit-folium
